---
import Layout from '../layouts/Layout.astro';
import Hello from '../components/Hello';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hello client:load />
	</main>
</Layout>

<style>
</style>
